body {
	font-size: 16px;
	color: black;
	background-color: #4FD190;
	font-family: 'Merienda', cursive;
}
/** Header**/
#header-nav{
	background-color: #1CBBC4;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1 { /**Brand name**/
	font-family: Helvetica;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
	line-height: .75;
}

.navbar-brand a:hover, .nav-brand a:focus{
  text-decoration: none;
}

/**Barra de navegación**/
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: white;
	text-align: center;
}
#nav-list a:hover{
	background: #FFB762;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:  1px solid white;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

/**Fin barra de navegación**/
/**Fin Header**/
/**Inicio Body**/

#subtitle{
	font-size: 2em;
	color: White;
}
.row{
	padding-top: 30px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.box h3{
	text-align: center;
	color: white;

}
.box{
	margin: 10px;
	width: auto;
	height: auto;
	color: black;
	padding: 20px;
	background-color: #FFB762;
	opacity: 95%;
	text-align: justify;
}
/**Fin Body**/

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand h1{
  	font-size: 2.5em;
  }
  #header-nav{
  	height: 80px;
  }
#subtitle{
	font-size: 2.5em;
	color: White;
}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#header-nav{
  	height: 70px;
  }
  
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1{
  	font-size: 2.2em;
  }
  #header-nav{
  	height: 80px;
  }
  #nav-list{
	margin-top: 10px;
}
 }
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-brand h1 { /*Brand name */
    padding-top: 10px;
    font-size: 5vm; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}
  /* End Header */

/********** Super extra small devices Only**********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw;
      } 
  /* End Header */
}